@import url(bootstrap.min.css);
header {
  margin-bottom: 50px; }

ul {
  list-style: none outside;
  margin: 0;
  padding: 0; }
  ul > li > ul {
    margin-left: 20px; }

pre {
  padding: 10px;
  background: #eee; }
